.container_for_rb{
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_box{
    background: #6b1111;
    width: 450px;
    padding: 40px 25px;
    margin: 20%;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.result_box .icon{
    font-size: 100px;
    color: #e3f74c;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0; 
    font-size: 18px;
}

.score_text span p{
    font-weight: 600;
    padding: 0 4px;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #6b1111;
    background-color: white;
}

.buttons button.restart:hover{
    background-color: #e3f74c;
}

.buttons button.quit:hover{
    color: #6b1111;
    background-color: #e3f74c;
}

